<!DOCTYPE html>
<html lang="no-nb">
  <head>
    <meta charset="UTF-8">
    <title>Person Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1 style="text-align: center">Tabell med personer fra en CSV- fil med JSON</h1>
    <hr><br>
    <div class="container mt-5">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Alder</th>
            <th>Kjønn</th>
          </tr>
        </thead>
        <tbody>
          {% for person in persons %}
          <tr>
            <td>{{ person.Fornavn }}</td>
            <td>{{ person.Etternavn }}</td>
            <td>{{ person.Alder }}</td>
            <td>{{ person.Kjønn }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
